@use "abstracts" as *;

.button-group {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.button {
    background-color: #000;
    padding: 0.75rem 1.5rem;
    color: #fff;
    font-weight: 600;
}

.is-small {
    @extend .button;
    padding: 0.5rem 1.25rem;
}
.is-large {
    @extend .button;
    padding: 0.5rem 1.25rem;
}
.is-border {
    @extend .button;
    border: 2px solid #000;
    background-color: transparent;
    color: #000;
}
.is-text {
    @extend .button;
    border: 2px solid transparent;
    background-color: transparent;
    color: #000;
}
.is-icon {
    @extend .button;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn{
    display: inline-flex;
    position: relative;
    align-items: center;
    gap: 30px;
    z-index: 1;
    transition: $transition-default ;
    border: none;
    border-radius: 58px;
    padding: 5px 5px 5px 30px;
    overflow: hidden;
    font-weight: 900;

    &::after{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: $transition-default ;
        border-radius: 58px;
        width: 0%;
        height: 100%;
        content: "";
    }

    .btn-icon{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: $white-color;
        width: 48px;
        height: 48px;
        overflow: hidden;
        color: $primary-color;
        font-size: $font-size-large;
        span{
            &:nth-child(1){
                transform: translateX(0%);
                transition: $transition-default;
            }
            &:nth-child(2){
                position: absolute;
                transform: translateX(-100%);
                opacity: 0;
                transition: $transition-default;
            }

        }
    }

    &:hover{
        &::after{
            width: 100%;
        }
        .btn-icon span{
            &:nth-child(1){
                transform: translateX(100%);
                opacity: 0;
            }
            &:nth-child(2){
                transform: translateX(0%);
                opacity: 1;
            }
        }
    }

    &-primary{
        background-color: $primary-color;
        &:hover{
            background: rgb(255,229,202);
            &::after{
                background: $secondary-color;
            }
        }
    }
}