{% extends "layouts/base.njk" %}

{% block title %}Home - My Website{% endblock %}

{% block content %}
    <h2>About Page</h2>
    <p>This is a dynamically generated HTML page using Gulp, Nunjucks, Bootstrap, and Sass!</p>
{% endblock %}
