@use "abstracts" as *;

/***************************************
* Page Structure
***************************************/
.page-wrapper {
    overflow: inherit;
}

.main-wrapper {
    overflow-x: clip;
}

/* Structure - Container */
.container-full {
    margin-inline: auto;
    width: 100%;
}

/* Structure - Padding Section(section padding Top and Bottom) */
.section-space-large {
    padding-top: 60px;
    padding-bottom: 60px;
    @include breakpoint(medium) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include breakpoint(large) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include breakpoint(xlarge) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
